$border-color: #f4f4f4;
$text-color: #ffffff;
$box-colors: (
  green: rgba(0, 255, 0, 0.4),
  red: rgba(255, 0, 0, 0.4),
  blue: rgba(0, 0, 255, 0.4),
);

@mixin text {
  color: $text-color;
  font-size: 6rem;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@mixin box-definition($width, $boxcolor) {
  width: $width;
  border: 2px solid $border-color;
  background-color: $boxcolor;
}

@keyframes slideDown {
  0% {
    transform: translateY(-500%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
