$border-color: #f4f4f4;
$text-color: #ffffff;
$box-colors: (
  red: rgba(255, 0, 0, 0.4),
  green: rgba(0, 255, 0, 0.4),
  blue: rgba(0, 0, 255, 0.4),
);

@mixin text {
  color: $text-color;
  font-size: 6rem;
  font-weight: 900;
  font-family: "sans-serif";
}

@mixin box-definition($width, $boxcolor) {
  width: $width;
  border: 2px solid $border-color;
  background-color: $boxcolor;
}

@mixin animate($animation, $duration, $method, $times, $delay) {
  animation: $animation $duration $method $times;
  animation-delay: $delay;
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
