@import "reset";
@import "mixins";

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;

  //boxevi, loop through colors in list
  @for $i from 1 through length($box-colors) {
    $color: nth($box-colors, $i);
    $color-value: nth($color, 2);

    div:nth-child(#{$i}) {
      @include box-definition(35%, $color-value);
    }
  }

  div {
    @include text;
    @include keyframes(slideDown) {
      0% {
        margin-top: -100%;
      }
      100% {
        margin-top: 5%;
      }
    }
    @include animate(slideDown, 2s, linear, 1, 3s);

    flex: 1;
    display: flex;
    margin: 5%;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}
